services:
  backend: 
    build: 
      context: ./back-end
      dockerfile: Dockerfile
    image: task6-backend

  frontend:
    build: 
      context: ./front-end
      dockerfile: Dockerfile
    image: task6-frontend
    depends_on:
      - backend

  proxy:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    image: task6-proxy
    ports:
      - '80:80'
    depends_on:
      - frontend
